# Using SQLite With Python

In [29]:
# Importing Libraries
import sqlite3 as sq3
import pandas.io.sql as pds
import pandas as pd

In [31]:
# Initialize Path To SQLite Database
path = 'classic_rock.db'
con = sq3.Connection(path)

In [33]:
# Checking Connection
con

In [35]:
# Setting Up Query
query = ''' SELECT * FROM rock_songs; '''

In [37]:
# Executing Query
data = pds.read_sql(query, con)
print(data.head())

                     Song        Artist  Release_Year  PlayCount
0        Caught Up in You   .38 Special        1982.0         82
1         Hold On Loosely   .38 Special        1981.0         85
2  Rockin' Into the Night   .38 Special        1980.0         18
3       Art For Arts Sake          10cc        1975.0          1
4              Kryptonite  3 Doors Down        2000.0         13

In [39]:
# Alternative Queries
query2 = ''' SELECT Artist, Release_Year, COUNT(*) AS num_songs, AVG(PlayCount) AS avg_plays  
    FROM rock_songs
    GROUP BY Artist, Release_Year
    ORDER BY num_songs DESC; '''

In [41]:
# Execute the query
data2 = pds.read_sql(query2, con)
print(data2.head())

         Artist  Release_Year  num_songs  avg_plays
0   The Beatles        1967.0         23   6.565217
1  Led Zeppelin        1969.0         18  21.000000
2   The Beatles        1965.0         15   3.800000
3   The Beatles        1968.0         13  13.000000
4   The Beatles        1969.0         13  15.000000

In [43]:
# Initialize Path To New SQLite Database
path2 = 'baseball.db'
con2 = sq3.Connection(path2)

In [45]:
# Checking Connection
con2

In [47]:
# Setting Up Query
query3 = ''' SELECT * FROM allstarfull; '''

In [49]:
# Executing Query
data3 = pds.read_sql(query3, con2)
print(data3.head())

   index   playerID  yearID  gameNum        gameID teamID lgID   GP  \
0      0  gomezle01    1933        0  ALS193307060    NYA   AL  1.0
1      1  ferreri01    1933        0  ALS193307060    BOS   AL  1.0
2      2  gehrilo01    1933        0  ALS193307060    NYA   AL  1.0
3      3  gehrich01    1933        0  ALS193307060    DET   AL  1.0
4      4  dykesji01    1933        0  ALS193307060    CHA   AL  1.0

   startingPos
0          1.0
1          2.0
2          3.0
3          4.0
4          5.0

In [51]:
# Alternative Query 1
alt1 = pd.read_sql('SELECT * FROM sqlite_master', con2)
print(alt1)

    type                  name     tbl_name  rootpage  \
0  table           allstarfull  allstarfull         2
1  index  ix_allstarfull_index  allstarfull         3
2  table               schools      schools        26
3  index      ix_schools_index      schools        31
4  table               batting      batting        99
5  index      ix_batting_index      batting       100

                                                 sql
0  CREATE TABLE "allstarfull" (\n"index" INTEGER,...
1  CREATE INDEX "ix_allstarfull_index"ON "allstar...
2  CREATE TABLE "schools" (\n"index" INTEGER,\n  ...
3  CREATE INDEX "ix_schools_index"ON "schools" ("...
4  CREATE TABLE "batting" (\n"index" INTEGER,\n  ...
5  CREATE INDEX "ix_batting_index"ON "batting" ("...

In [53]:
# Alternative Query 2
query4 = """ SELECT playerID, sum(GP) AS num_games_played, AVG(startingPos) AS avg_starting_position
    FROM allstarfull
    GROUP BY playerID
    ORDER BY num_games_played DESC, avg_starting_position ASC
    LIMIT 3 """
alt2 = pd.read_sql(query4, con2)
print(alt2.head())

    playerID  num_games_played  avg_starting_position
0  musiast01              24.0               6.357143
1   mayswi01              24.0               8.000000
2  aaronha01              24.0               8.470588